body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    font-size: 2.5rem;
}

.section {
    padding: 50px 0;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.cta {
    text-align: center;
    margin-top: 30px;
}

.contact a {
    margin: 10px;
    color: #007bff;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

.project-card {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: justify;
}

.project-card h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer .social-media-links a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

footer .social-media-links a:hover {
    opacity: 0.7;
}
.skills {
    display: flex; /* Torna o contêiner um flexbox */
    justify-content: center; /* Centraliza as badges horizontalmente */
    align-items: center; /* Opcional: centraliza as badges verticalmente */
    flex-wrap: wrap; /* Permite que as badges se quebrem em várias linhas se necessário */
    gap: 10px; /* Espaçamento entre as badges */
}

.badge {
    font-size: 1.1rem; /* Ajuste o tamanho das badges se necessário */
}